[submodule "baselayer/lib/forge-std"]
	path = baselayer/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "baselayer/lib/openzeppelin-contracts"]
	path = baselayer/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "baselayer/lib/rollups-contracts"]
	path = baselayer/lib/rollups-contracts
	url = https://github.com/cartesi/rollups-contracts
